<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="adr" class="com.model.Address">
        <property name="pincode" value="443876"></property>
        <property name="area" value="karve nagar"></property>
        </bean>
          
          <bean id="s" class="com.model.Student" autowire="byName">
          <property name="rollno" value="21"></property>
          <property name="name" value="tejas"></property>
          <property name="marks" value="51"></property>
          </bean>
        </beans>
        